body {
 font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
 font-size: 11pt;
 background: #FFFFFF;
 color: #333333;
 margin: 0px;
 padding:0px;
}

a {
 color: #b51a22;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

img {
 border: 0px;
}

#header {
    background: none repeat scroll 0 0 #EBEBEB;
    margin: 0px 0px 0px 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 0px;
    text-align: left;
}

#header h2 {
 font-size: 16pt;
 font-weight: normal;
 color: #333333;
 margin: 0px;
}

#header p {
 color: #555555;
 font-size: 13pt;
 font-weight: normal;
 line-height: 26px;
 margin: 10px 0 0;
 padding: 0;
}

#main {
/* float: left;*/
 padding: 20px 50px 50px 50px;
 max-width: 600px;
 text-align: justify;
 display: inline-block;
}

#main h2 {
 font-size: 15pt;
 font-weight: normal;
 color: #333333;
 margin: 30px 0px 10px 0px;
 padding: 0px;
 clear: both;
}

#main p, #main li{
 color: #444444;
 line-height: 20px;
 margin: 0px 0px 10px;
}

.sidebar {
 border-radius: 10px 10px 10px 10px;
 background: none repeat scroll 0 0 #EBEBEB;
 border: 1px solid #99b4c9;
 margin: 4em;
 margin-bottom: 0px;
 padding: 20px 20px 15px;
 width: 200px;
}

.sidebar-container {
 margin-left: 4em;
 vertical-align: top;
 width: 250px;
 display: inline-block;
}

.sidebar h3 {
 color: #333333;
 margin: 1px 0px 10px 0px;
}

#footer {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #333333;
    font-size: 9pt;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 50px;
    text-align: left;
    margin-top: 1em;
}
