Source: sonews
Section: web
Priority: optional
Maintainer: Christian Lins <cli@openoffice.org>
Homepage: http://www.sonews.org/
Package: sonews-web
Version: 0.5.0-beta1
Architecture: all
Depends: kitten, libjchart2d-java, sonews
Description: Webinterface for sonews
 sonews is a modern Usenet server providing newsgroups via NNTP.
 The lightweight servlet server kitten is used to provide an optional 
 configuration web interface.
 This metapackage depends on all required prerequisites to run the
 servlet based webinterface of sonews.
