<html>
<head>
  <title>%SERVERNAME - %TITLE</title>
  <link rel="stylesheet" type="text/css" href="%STYLESHEET" />
</head>

<body>
<div class="pagetitle">sonews - %TITLE</div>

<div class="content">
%CONTENT
</div>
</body>
</html>