This server is running since %STARTDATE.

<h2>Configuration</h2>
Here you can edit most of the configuration values for %SERVERNAME.
Please note that some of these values require a server restart, 
some do not and are valid immediately.
<ul>
  <li><a href="/sonews/config">View/Edit configuration values</a></li>
  <li><a href="/sonews/peer">View/Edit peer settings</a></li>
</ul>

<h2>Statistics & Logs</h2>
Here is a short overview of useful statistics of %SERVERNAME. Click on a
stat key to get more details.
<table style="border: 1px dotted black">
  <tr>
    <td><i>Stat key</i></td>
    <td><i>Value</i></td>
  </tr>

  <tr>
    <td>Active connections:</td>
    <td>%ACTIVE_CONNECTIONS</td>
  </tr>

  <tr>
    <td>Served newsgroups:</td>
    <td>%SERVED_NEWSGROUPS</td>
  </tr>

  <tr>
    <td>Stored news messages:</td>
    <td>%STORED_NEWS</td>
  </tr>

  <tr>
    <td><a href="/sonews/chart?name=postednewsyesterday">Posted news</a>:</td>
    <td>%POSTED_NEWS per hour</td>
  </tr>

  <tr>
    <td><a href="/sonews/chart?name=gatewayednewsyesterday">Gatewayed news</a>:</td>
    <td>%GATEWAYED_NEWS per hour</td>
  </tr>

  <tr>
    <td><a href="/sonews/chart?name=feedednewsyesterday">Feeded news</a>:</td>
    <td>%FEEDED_NEWS per hour</td>
  </tr>
</table>

<h2>Documentation</h2>
You'll find the most recent 
<a href="http://www.sonews.org/">documentation of %SERVERNAME here</a>.