<p>
<a href="/sonews">Back to Main Page</a>
</p>

<h1>Group %GROUPNAME</h1>

<h2>Configuration</h2>
<h3>General</h3>
<form action="" method="GET">
  <input type="hidden" name="name" value="%GROUPNAME" />
  <input type="hidden" name="action" value="set_flags"/>
  Is mirrored Mailinglist?:
  <input type="checkbox" name="flag0" value="true" />
  <br/>
  <input type="submit" value="Update" />
</form>

<h3>Mailinglist</h3>
<form action="" method="GET">
  <input type="hidden" name="name" value="%GROUPNAME" />
  <input type="hidden" name="action" value="set_mladdress"/>
  Mailinglist address:
  <input type="text" name="mladdress" />
  <br/>
  <input type="submit" value="Update" />
</form>

<h2>Statistics</h2>
<h3>Posted mails yesterday</h3>
<img src="/sonews/chart?name=postednewsyesterday&group=%GROUPNAME" />

<h3>Gatewayed mails yesterday</h3>
<img src="/sonews/chart?name=gatewayednewsyesterday&group=%GROUPNAME" />

<h3>Feeded news</h3>
<img src="/sonews/chart?name=feedednewsyesterday&group=%GROUPNAME" />