<p>
<a href="/sonews">Back to Main Page</a>
</p>

<h2>Configuration values</h2>
<form action="/sonews/config" method="GET">
<input type="hidden" name="which" value="config"/>
<table>
%CONFIG
</table>
<input type="submit" value="Apply changes"/>
</form>

<h2>Groups served by this sonews instance</h2>
<table>
%GROUP
</table>

<p>
<h2>Add new group to be served</h2>
<form action="/sonews/config" method="GET">
  <input type="hidden" name="which" value="groupadd"/>
<table>
  <tr><td>Names (separated by newlines):</td>
      <td><textarea cols="50" rows="15" name="groups"></textarea></td></tr>
  </tr>
</table>
<input type="submit" value="Add groups"/>
</form>
</p>